.BrowserRouter {
  display: flex;
  flex-direction: column;
  height: 100vh;

  /* https://coolors.co/e54b4b-ffa987-f7ebe8-444140-1e1e24 */
  --imperial-red: #E54B4B;
  --atomic-tangerine: #FFA987;
  --seashell: #F7EBE8;
  --jet: #444140;
  --raisin-black: #1E1E24;
}

header {
  background-color: var(--imperial-red);
  padding: 6px 16px;
  border-bottom: 2px solid var(--atomic-tangerine);

  display: flex;
  align-items: center;
}

header > .github-link {
  font-size: 24px;
  font-weight: 700;
  margin-right: 24px;
  text-decoration: none;
  color: white;
}
header > .github-link:hover {
  text-decoration: underline;
}

header > ul {
  margin: 0;
  margin-left: auto;
  list-style: none;
  font-size: 16px;

  display: flex;
  gap: 16px;
}
header > ul > *:hover {
  text-decoration: underline;
}

header > ul a {
  color: var(--seashell);
  text-decoration: none;
}

.Routes {
  flex: 1;
  background: center / contain url('./images/waldo-waving.png');
}

.ChooseDifficulty,
.EnterName,
.Leaderboard {
  height: 100%;
  background-color: rgba(30, 30, 36, 0.9);
  color: var(--seashell);
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.diffSelectionBox {
  background-color: var(--jet);
  padding: 32px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.difficulties > * {
  background-color: var(--raisin-black);
  color: var(--seashell);
  font-size: 20px;
  font-weight: 700;
  width: 300px;
  padding: 16px;
  border-radius: 8px;
  cursor: pointer;
  display: block;
}
.difficulties > *:hover {
  background-color: var(--atomic-tangerine);
}

.difficulties :first-child {
  margin-bottom: 16px;
}

.PlayGame {
  background-size: 100% 100%;
  height: 100%;
}

.illustration-container {
  height: 100%;
  display: grid;
  grid-template: repeat(20, 1fr) / 
    repeat(20, 1fr);
}

.illustration-container > .found {
  border: 2px solid var(--atomic-tangerine);
  outline: 2px solid var(--jet);
}

.pop-up {
  border: 2px solid var(--imperial-red);
}

.character-dialog-box {
  background-color: var(--seashell);
  padding: 20px;
  border: 2px solid var(--atomic-tangerine);
  border-radius: 8px;
  position: absolute;
  top: 147px;
}

.character-dialog-box.show-left {
  left: 100px;
}

.character-dialog-box.show-right {
  right: 100px;
}

.who-is-it-question {
  color: var(--imperial-red);
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
}

.character-cards > *:not(hr) {
  font-size: 17px;
  padding: 4px;
  border-radius: 8px;
  cursor: pointer;

  display: flex;
  gap: 12px;
  align-items: center;
}
.character-cards > *:hover {
  background-color: var(--atomic-tangerine);
  color: var(--seashell);
}

.character-pic {
  height: 50px;
  width: 50px;
  border: 2px solid var(--raisin-black);
  border-radius: 50%;
  background-size: 100% 100%;
}

.feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 500px;
  transform: translate(-50%, -50%);
}

.feedback.correct {
  background: center / contain url('./gifs/correct-duck.gif');
}

.feedback.wrong {
  background: center / contain url('./gifs/wrong-duck.gif');
}

.confetti-screen {
  background: center / contain url('./gifs/confetti.gif');
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.nameInputBox {
  background-color: var(--jet);
  padding: 32px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.nameInputBox > div :first-child {
  margin-right: 8px;
}

.nameInputBox input {
  font-size: 20px;
  background-color: var(--seashell);
  color: var(--imperial-red);
  width: 175px;
  outline: none;
}

.nameInputBox > div > span:nth-child(2) {
  color: var(--atomic-tangerine);
}

.nameInputBox > button {
  background-color: var(--raisin-black);
  color: var(--seashell);
  font-size: 20px;
  font-weight: 700;
  width: 150px;
  padding: 8px;
  border-radius: 4px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;

  display: block;
}
.nameInputBox > button:hover {
  background-color: var(--atomic-tangerine);
}

.Leaderboard > table {
  border: 4px solid var(--seashell);
  border-radius: 8px;
  border-spacing: 0;
}

.Leaderboard tr:nth-child(1) {
  height: 65px;
  color: var(--imperial-red);
}

.Leaderboard tr {
  height: 50px;
}

.Leaderboard th {
  font-size: 24px;
  border-bottom: 4px solid var(--seashell);
}

.Leaderboard tr > * {
  text-align: center;
  width: 250px;
}

.Leaderboard tr > *:nth-child(1) {
  border-right: 2px solid var(--seashell);
  width: 100px;
}

.Leaderboard tr > *:nth-child(2) {
  border-left: 2px solid var(--seashell);
  border-right: 2px solid var(--seashell);
}

.Leaderboard tr *:nth-child(3) {
  border-left: 2px solid var(--seashell);
}

.Leaderboard tr:last-child {
  color: var(--atomic-tangerine);
}

